def thisDirPath = new File(".").getCanonicalPath()

params {
    input_dir = "${thisDirPath}/bams"
    output_dir = "${thisDirPath}/output"
    gatk_jar = "${thisDirPath}/gatk.jar"
    ref_fasta = "/juno/work/ci/resources/genomes/GRCh37/fasta/b37.fasta"
    markers_bed = "${thisDirPath}/data/markers/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.bed"
    markers_txt = "${thisDirPath}/data/markers/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.txt"
}

executor {
    name = "lsf" // run on the HPC with LSF
    queueSize = 25 // no more than 25 HPC jobs running at a time
    }

process {
    withName: pileup {
        time = 30.m
        memory = 12.GB
    }
    withName: likelihoods {
        time = 30.m
    }
}
