def thisDirPath = new File(".").getCanonicalPath()

params {
    input_dir = "${thisDirPath}/bams"
    output_dir = "${thisDirPath}/output"
    gatk_jar = "${thisDirPath}/gatk.jar"
    ref_fasta = "/juno/work/ci/resources/genomes/GRCh37/fasta/b37.fasta"
    markers_bed = "${thisDirPath}/data/markers/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.bed"
    markers_txt = "${thisDirPath}/data/markers/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.txt"
}

executor {
    name = "lsf" // run on the HPC with LSF
    queueSize = 300 // no more than 25 HPC jobs running at a time
    }

process {
    withName: pileup {
        time = 30.m
        memory = 12.GB
        maxForks = 250
    }
    withName: likelihoods {
        time = 30.m
    }
}

report {
    enabled = true
    file = "report.html"
}
timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}
