def thisDirPath = new File(".").getCanonicalPath()

params {
    output_dir = "${thisDirPath}/output"
    markers_bed = "${thisDirPath}/data/markers/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.bed"
    markers_txt = "${thisDirPath}/data/markers/GRCh37.autosomes.phase3_shapeit2_mvncall_integrated.20130502.SNV.genotype.sselect_v4_MAF_0.4_LD_0.8.txt"
}

// executor {
//     name = "lsf" // run on the HPC with LSF
//     queueSize = 300
//     }

report {
    enabled = true
}
timeline {
    enabled = true
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    raw = true
}


profiles {
    preprocessing {
        params {
            input_dir = "${thisDirPath}/bams"
            ref_fasta = "/juno/work/ci/resources/genomes/GRCh37/fasta/b37.fasta"
        }
        report.file = "preprocessing-report.html"
        timeline.file = "preprocessing-timeline.html"
        trace.file = "preprocessing-trace.txt"

        process {
            withName: pileup {
                // NOTE: if container is needed for GATK3, use this; https://hub.docker.com/r/broadinstitute/gatk3/tags
                conda = "${thisDirPath}/environment.yml"
                time = 30.m
                memory = 12.GB
                maxForks = 250 // need to make sure some slots are still open for pileups to run in parallel
            }
            withName: likelihoods {
                conda = "${thisDirPath}/environment.yml"
                time = 30.m
            }
        }
    }
    concordance {
        params {
            // files with lists of input files to use
            tumors_list = "tumors.txt"
            normals_list = "normals.txt"
        }
        report.file = "concordance-report.html"
        timeline.file = "concordance-timeline.html"
        trace.file = "concordance-trace.txt"

        process {
            withName: run_concordance {
                time = 120.m
                cpus = 32
            }
            withName: plot_concordance_distribution {
                module = 'R/R-3.6.3'
                executor = 'local'
            }
            withName: plot_benchmarks {
                module = 'R/R-3.6.3'
                executor = 'local'
            }
            withName: filter_concordance {
                executor = 'local'
            }
        }
    }
}
