conda/
*.pyc
conda
conda*
output*
normal_pileups.txt
normal_pileups.txt*
*.pdf
benchmarks.tsv
benchmarks.tsv*
normal_pileups*
tumor_pileups*
.RData
*.pickle
concordance.tsv
*.tsv
*.log
normals.txt
tumors.txt
*work/*
nextflow
gatk.jar
.nextflow/
bams
nextflow.log*
*/work/*
*trace.txt*
*.html*
*.sif
